/* .form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 200px;
}

.time_input_wrapper{
  display: flex;
}

.num_input{
  width: 40px;
} */